[submodule "projects/exercise-tracker"]
	path = projects/exercise-tracker
	url = git@github.com:OZahnitko/exercise-tracker.git
[submodule "projects/fake-nuws"]
	path = projects/fake-nuws
	url = git@github.com:OZahnitko/fake-nuws.git
